<p>
  login works!
</p>
 <h1>User Login</h1>
<br />
<br />
<!-- <form name="loginForm" [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()" novalidate
  class="example-form">

  <mat-error *ngIf="errorMessage != ''">
    {{ errorMessage }}
  </mat-error>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="User Name" formControlName="userName" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="Password" formControlName="password" required>
  </mat-form-field>

  <div class="example-full-width">
    <button mat-raised-button color="primary">Login</button>
  </div>

</form> -->
<!-- <div class="login-container">
  <mat-card class="login-form">
    <mat-toolbar color="primary" class="login-toolbar">Login</mat-toolbar>
    <form [formGroup]="loginForm" class="login-form" rowHeight="300px" (ngSubmit)="onLogin()">
      <mat-error *ngIf=" errorMessage != '' ">
        {{ errorMessage }}
      </mat-error>
      <mat-form-field>
        <input matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="loginForm.controls['email'].errors?.required">{{ errorMessageType.invalidForm}}</mat-error>
        <mat-error *ngIf="loginForm.controls['email'].errors?.email">Invalid email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="password" placeholder="Password" type="password">
        <mat-error *ngIf="loginForm.controls['password'].errors?.required">{{ errorMessageType.invalidForm}}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </mat-card>
</div> -->